/* External CSS style file */

* {
   box-sizing: border-box;
}

body {
   font-family: Arial;
   /* padding: 10px; */
   background: #f1f1f1;
}

/* Header (div) formatting */
.header {
   padding: 10px;
   text-align: center;
   background-color: #cccccc;
   color: #000000;
}

.header h1 {
   font-size: 50px;
}

.LGA{
  display: flex;
  column-gap: 50px;
  margin-top: 40px;   
  margin-bottom: 40px;
  position: relative;
  justify-content: center ;

}

   .LGA2016 ul {
      height: 250px;
      overflow: auto;
      height: 50vw;
   }

   .LGA2021 ul {
      height: 250px;
      overflow: auto;
      height: 50vw;
   }


.PersonasMem{
   display: flex;
   column-gap: 50px;
   margin-top: 40px;   
   margin-bottom: 40px;   
   position: relative;
   justify-content: center ;
}

   .PupilKiara{
      height: 25vw;
      overflow: auto;
      width: 25%;
   }
   .ProcrastinatingPalmer{
      height: 25vw;
      overflow: auto;
      width: 25%;
   }
   .DataDrivenDana{
      height: 25vw;
      overflow: auto;
      width: 25%;
   }
   .Members{
      height: 25vw;
      overflow: auto;
      width: 25%;
   }

.MissionState{
   text-align: center;
   margin-top: 40px;   
   margin-bottom: 40px;
}

/* style table */
   .contentTWOB{
      text-align: center;
   }
   .DataShow td{
   width: 200px;
   height: 40px;
   text-align: center;
   }


.DataShow{
   margin-left: auto;
   margin-right: auto;
}


/* Make the logo have a rounded edge */
img.top-image {
   vertical-align: middle;
}

/* CSS Layout from W3Schools: https://www.w3schools.com/css/css_templates.asp */
/* Style the top navigation bar */
.topnav {
   overflow: hidden;
   background-color: #333;
 }
 
 /* Style the topnav links */
 .topnav a {
   float: left;
   display: block;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }
 
 /* Change color on hover */
 .topnav a:hover {
   background-color: #ddd;
   color: black;
   position: static;
 }
 
 /* Style the content */
 .content {
   background-color: #ddd;
   padding: 10px;
 }
 
 /* Style the footer */
 .footer {
   padding: 10px;
   text-align: center;
   background-color: #cccccc;
   color: #000000;
 }
